<div class="login-container">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="currentPassword">Contraseña Actual</label>
      <input
        type="password"
        id="currentPassword"
        formControlName="currentPassword"
        class="form-control"
      />
      <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('required') && changePasswordForm.get('currentPassword')?.touched" class="text-danger">
        La contraseña actual es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword">Nueva Contraseña</label>
      <input
        type="password"
        id="newPassword"
        formControlName="newPassword"
        class="form-control"
      />
      <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched" class="text-danger">
        La nueva contraseña es requerida.
      </div>
      <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength') && changePasswordForm.get('newPassword')?.touched" class="text-danger">
        La nueva contraseña debe tener al menos 6 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmNewPassword">Confirmar Nueva Contraseña</label>
      <input
        type="password"
        id="confirmNewPassword"
        formControlName="confirmNewPassword"
        class="form-control"
      />
      <div *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('required') && changePasswordForm.get('confirmNewPassword')?.touched" class="text-danger">
        Confirmar la nueva contraseña es requerido.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Cambiar Contraseña</button>
  </form>
</div>
