<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8f141b;">
  <div class="container">
    <!-- Logo que lleva a la página de inicio -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="Biblioteca Digital Logo" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Link para la página "Sobre Nosotros" -->

        <!-- Link para la página de "Colección" -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Colección</a>
        </li>
        <!-- Gestión de Préstamos desplegable -->
        <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="loanDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestión de Préstamos
          </a>
          <ul class="dropdown-menu" aria-labelledby="loanDropdown">
            <li> <a class="nav-link" routerLink="/loan-request">Solicitar Préstamo</a></li>
            <li><a class="dropdown-item" routerLink="/loan-history">Historial de Préstamos y Devoluciones</a></li>
          </ul>
        </li>
        <!-- Enlace "Usuarios" visible solo para administradores -->
        <li class="nav-item" *ngIf="authService.isAuthenticated() && authService.isAdmin()">
          <a class="nav-link" routerLink="/users">Usuarios</a>
        </li>
        <!-- Menú desplegable para el usuario autenticado -->
        <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ authService.getUserName() || 'Usuario' }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/profile">Gestión de Perfil</a></li>
            <li><a class="dropdown-item" routerLink="/reading-preferences">Preferencias de Lectura</a></li>
            <li><a class="dropdown-item" routerLink="/change-password">Cambiar Contraseña</a></li>
            <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
          </ul>
        </li>
        <!-- Botones de "Iniciar Sesión" y "Registrarse" cuando el usuario NO está autenticado -->
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" routerLink="/register">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Banner de Bienvenida -->
<div *ngIf="shouldShowBanner()" class="header-banner py-5 text-white text-center bg-primary">
  <div class="overlay"></div>
  <h2>Bienvenido a la Biblioteca Digital</h2>
  <p class="lead">Explora nuestra colección de libros electrónicos, revistas y otros recursos digitales. Nuestra misión es ofrecerte un acceso fácil y rápido a una amplia gama de conocimiento.</p>

</div>

<!-- Contenido Principal -->
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
