/* src/app/app.component.css */

/* Estilos para la barra de navegación */
.navbar {
  background-color: #800000; 
  color: #fff;
  padding: 1rem;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-item {
  margin: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header-banner {
  background-image: url('/assets/fondo.jpg');
  background-size: cover;
  background-position: center;
  position: relative; /* Necesario para posicionar el overlay */
  padding: 2rem 0;
  color: #fff;
  text-align: center;
}
.header-banner h2, .header-banner p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra negra con transparencia */
}

.header-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de transparencia */
  z-index: 1; /* Asegura que el overlay esté sobre la imagen pero debajo del texto */
}
.header-banner h2, .header-banner p, .header-banner .buttons {
  position: relative; /* Asegura que el texto esté sobre el overlay */
  z-index: 2;
  text-align:  center;
  
}
/* Estilos para el contenido del banner */


.header-banner p.lead {
  font-size: 1.5rem; /* Ajusta el tamaño del texto */
  margin-bottom: 2rem;
}

.buttons .btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  margin: 0.5rem;
  color: #fff;
  background-color: #ff3c00;
  border-radius: 5px;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Estilos para el contenido principal */
.home-content {
  text-align: center;
  margin-top: 2rem;
}

.home-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333; /* Cambia el color del título */
}

.home-content p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Alinea el menú verticalmente en pantallas pequeñas */
    gap: 0.5rem;
  }

  .header-banner {
    padding: 3rem 0; /* Ajusta el padding en pantallas pequeñas */
  }

  .header-banner h2 {
    font-size: 2rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }

  .header-banner p.lead {
    font-size: 1.2rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }

  .buttons .btn {
    font-size: 0.9rem; /* Ajusta el tamaño del botón en pantallas pequeñas */
  }
}
