<div class="container">
  <h2>Lista de Libros</h2>

  <!-- Campo de búsqueda -->
  <div class="search-container">
    <mat-form-field appearance="fill" class="search-bar">
      <mat-label>Buscar por nombre</mat-label>
      <input matInput [(ngModel)]="searchTerm" placeholder="Escribe el nombre del libro">
    </mat-form-field>
    
    <!-- Botón para agregar un libro, visible solo para administradores -->
    <button 
      *ngIf="authService.isAuthenticated() && authService.isAdmin()" 
      mat-raised-button 
      class="add-book-button" 
      (click)="openDialog('add')"
    >
      Agregar Libro
    </button>
  </div>

  <!-- Contenedor de tarjetas de libros -->
  <div class="book-cards">
    <mat-card *ngFor="let book of filteredBooks()" class="book-card">
      <mat-card-header>
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Género: {{ book.genre }}</p>
        <p>Año de Publicación: {{ book.publication_year }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Tipo: {{ getCollectionTypeName(book.id_type) }}</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- Botones para editar y eliminar un libro, visibles solo para administradores -->
        <button 
          *ngIf="authService.isAuthenticated() && authService.isAdmin()" 
          mat-button 
          (click)="openDialog('edit', book)"
        >
          Editar
        </button>
        <button 
          *ngIf="authService.isAuthenticated() && authService.isAdmin()" 
          mat-button 
          color="warn" 
          (click)="deleteBook(book.id)"
        >
          Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
